html {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.4;
}
img {
    max-width: 100%;
}
:focus {
    outline: 0 none;
}
.vl-page {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.vl-page-header {
    position: absolute;
    right: 0;
    left: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 100;
    height: 5rem;
    background-color: rgba(0, 0, 0, .2);
    border-bottom: .15rem solid #fff;
}
.vl-page-logo {
    display: inline-block;
    width: 3.96rem;
    height: 5rem;
    margin-top: .77rem;
    color: #fff;
    font-weight: bold;
    background-image: url('images/logotype.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    border: .15rem solid #fff;
}
.vl-page-nav {
    position: absolute;
    right: 1rem;
    bottom: 0;
}
.vl-page-nav ul {
    display: flex;
}
.vl-page-nav li {
    display: flex;
    font-size: 1.2rem;
}
.vl-page-nav a {
    flex-grow: 1;
    padding: .5em;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.vl-page-nav .vl-active,
.vl-page-nav a:hover,
.vl-page-nav a:focus {
    color: #000;
    background-color: #fff;
}
.vl-btn {
    color: #fff;
    background-color: #395c55;
    font-weight: bold;
    text-decoration: none;
    padding: .8em 1.8em;
}
.vl-btn:hover,
.vl-btn:focus {
    filter: brightness(1.2);
}
.vl-btn-primary {
    background-color: #aaa000;
}
.vl-btn-hollow {
    color: #395c55;
    border: .15rem solid;
    background-color: #fff;
}
